
.vs/ConsoleAppTest/v16/.suo
.vs/ConsoleAppTest/v16/Server/sqlite3/storage.ide
ConsoleAppTest/obj/Debug/ConsoleAppTest.csprojAssemblyReference.cache
UnitTestProject1/obj/Debug/UnitTestProject1.csproj.CoreCompileInputs.cache
UnitTestProject1/obj/Debug/UnitTestProject1.csprojAssemblyReference.cache
